{% extends 'base.html.twig' %}

{% block title %}Streemi - Ma liste{% endblock %}

{% block content %}
    <header class="font-bold text-lg flex items-center gap-x-3 md:hidden mb-12">
        <svg class="w-10 h-10" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 40" fill="none">
            <path fill="currentColor" d="M10 4h20a1 1 0 0 1 1 1v30a1 1 0 0 1-1 1H10a1 1 0 0 1-1-1V5a1 1 0 0 1 1-1zm0 2v30h20V6H10z" />
            <path fill="currentColor" d="M10 6h20a1 1 0 0 1 1 1v1H9V7a1 1 0 0 1 1-1zm15 3h-3v3h-3V9h-3v3H10V9a1 1 0 0 1 1-1h15a1 1 0 0 1 1 1v1z" />
        </svg>
        <h1 class="text-2xl">Mes films et séries</h1>
    </header>

    <section>
        <h1 class="font-medium text-black text-lg">Mes listes de <span class="font-bold text-red-600">films</span> et <span class="font-bold text-red-600">séries</span></h1>

        <div class="flex flex-col space-y-3 mt-9">
            <div class="relative w-full flex text-gray-700 font-medium">
                <select id="playlistSelector" class="appearance-none w-full bg-white border border-gray-200 px-7 py-3 rounded-md shadow transition">
                    <option value="">Sélectionnez une playlist</option>
                    {% for playlist in playlists %}
                        <option value="{{ playlist.id }}" {% if selectedPlaylist and selectedPlaylist.id == playlist.id %}selected{% endif %}>
                            {{ playlist.name }}
                        </option>
                    {% endfor %}
                </select>
                <div class="pointer-events-none absolute right-2 inset-y-0 flex items-center px-2">
                    <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                        <path d="M22,12A10,10 0 0,1 12,22A10,10 0 0,1 2,12A10,10 0 0,1 12,2A10,10 0 0,1 22,12M6,10L12,16L18,10L16.6,8.6L12,13.2L7.4,8.6L6,10Z" />
                    </svg>
                </div>
            </div>
        </div>
    </section>

    {% if selectedPlaylist %}
        <section class="mt-9">
            <h2 class="font-medium text-black">Films de la playlist : {{ selectedPlaylist.name }}</h2>
            <ul class="grid grid-cols-2 gap-y-5 sm:grid-cols-3 gap-x-5">
                {% for media in selectedPlaylist.playlistMedia %}
                    {% include 'parts/movies/movie_card_list.html.twig' with {'media': media.media} %}
                {% endfor %}
            </ul>
        </section>
    {% else %}
        <div class="mt-9 text-red-600">Veuillez sélectionner une playlist pour afficher les films.</div>
    {% endif %}

    {% block javascripts %}
        <script>
            document.getElementById('playlistSelector').addEventListener('change', function () {
                const selectedValue = this.value;
                const url = new URL(window.location.href);
                if (selectedValue) {
                    url.searchParams.set('selectedPlaylist', selectedValue);
                } else {
                    url.searchParams.delete('selectedPlaylist');
                }
                window.location.href = url.toString();
            });
        </script>
    {% endblock %}
{% endblock %}
